@page "/"

<div style="display: flex; flex-direction: column; height: 100vh;">
	<div style="height: 55%; flex: 1; display: flex; align-content: center; padding: 16px;">

		<div class="keybind-list box">

			<!-- HEADER -->
			<div class="keybind-header">
				<div class="col-name">
					<MudText Typo="Typo.h6" Style="font-weight: bold;">Name</MudText>
				</div>
				<div class="col-a">
					<MudText Typo="Typo.h6" Style="font-weight: bold;">Actions</MudText>
				</div>
				<div class="col-b">
					<MudText Typo="Typo.h6" Style="font-weight: bold;">Control</MudText>
				</div>
			</div>

			<!-- SCROLLABLE LIST -->
			<div class="keybind-body">
				@foreach (var superaction in GetKeybindSuperactions())
				{
					<div class="keybind-row" onclick="@(() => SelectSuperaction(superaction))">
						<div class="col-name">
							<MudText style="font-family: KCD;">
								@superaction.Name
							</MudText>
						</div>
						<div class="col-a">
							<MudText style="font-family: KCD;">
								@superaction.Actions.Count
							</MudText>
						</div>
						<div class="col-b">
							<MudText style="font-family: KCD;">
								@superaction.Controls.Count
							</MudText>
						</div>
					</div>
				}
			</div>

		</div>
		@* 		<div style="flex: 1; align-content: center; display: flex; flex-direction: column;">
			<div class="keybind-list">

				<!-- HEADER -->
				<div class="keybind-header">
					<div class="col-name">
						<MudText Typo="Typo.h6">Name</MudText>
					</div>
					<div class="col-a">
						<MudText Typo="Typo.h6">Actions</MudText>
					</div>
					<div class="col-b">
						<MudText Typo="Typo.h6">Control</MudText>
					</div>
				</div>

				<!-- SCROLLABLE LIST -->
				<div class="keybind-body">
					@foreach (var control in selectedSuperaction?.Controls ?? [])
					{
						<div class="keybind-row">
							<div class="col-name">
								<MudText style="font-family: KCD;">
									@control.Input
								</MudText>
							</div>
							<div class="col-a"></div>
							<div class="col-b">
								<MudText style="font-family: KCD;">
									@control.Controller
								</MudText>
							</div>
						</div>
					}
				</div>

			</div>
			<div class="keybind-list">

				<!-- HEADER -->
				<div class="keybind-header">
					<div class="col-name">
						<MudText Typo="Typo.h6">Name</MudText>
					</div>
					<div class="col-a">
						<MudText Typo="Typo.h6">Actions</MudText>
					</div>
					<div class="col-b">
						<MudText Typo="Typo.h6">Control</MudText>
					</div>
				</div>

				<!-- SCROLLABLE LIST -->
				<div class="keybind-body">
					@foreach (var action in selectedSuperaction?.Actions ?? [])
					{
						<div class="keybind-row">
							<div class="col-name">
								<MudText style="font-family: KCD;">
									@action.Name
								</MudText>
							</div>
							<div class="col-a"></div>
							<div class="col-b">
								<MudText style="font-family: KCD;">
									@action.Map
								</MudText>
							</div>
						</div>
					}
				</div>

			</div>
		</div> *@
		<div style="flex: 1; align-content: center;">
			<MudStack Justify="Justify.Center"
			Spacing="10">
				<MudText Typo="Typo.h2"
						 style="text-align: center;">
					<strong>@(string.IsNullOrEmpty(activeKey) ? "Press any Key" : activeKey)</strong>
				</MudText>

				<MudButton OnClick="BuildMod"
						   Variant="Variant.Filled"
						   Color="Color.Primary"
				Style="@($"visibility: {(canCreate ? "visible" : "hidden")}")">
					<MudText Typo="Typo.h4"><strong>Create Mod</strong></MudText>
				</MudButton>
			</MudStack>
		</div>
		@* 		<div style="flex: 1; align-content: center;">
		</div> *@
		<!-- Mod List-->
		<div class="keybind-list">

			<!-- HEADER -->
			<div class="keybind-header">
				<div class="col-name">
					<MudText Typo="Typo.h6" Style="font-weight: bold;">Name</MudText>
				</div>
				<div class="col-a">
					<MudTooltip Text="Superactions"
								Placement="Placement.Top">
						<MudText Typo="Typo.h6" Style="font-weight: bold;">SA</MudText>
					</MudTooltip>
				</div>
				<div class="col-b">
					<MudTooltip Text="ActionMaps"
								Placement="Placement.Top">
						<MudText Typo="Typo.h6" Style="font-weight: bold;">AM</MudText>
					</MudTooltip>
				</div>
			</div>

			<!-- SCROLLABLE LIST -->
			<div class="keybind-body">
				@foreach (var delta in KeybindManager.DeltaViewModels)
				{
					if (delta.ChangedActionMaps.Count == 0 &&
					delta.ChangedSuperactions.Count == 0)
					{
						continue;
					}


					<div class="keybind-row">
						<div class="col-name">
							<MudStack Row AlignItems="AlignItems.Center" Style="color: black;">
								<MudCheckBox T="bool"
											 Value="selectedMods.FirstOrDefault(x => x.ModId == delta.ModId) is not null"
											 ValueChanged="_ => ToggleMod(delta)" 
											 Color="Color.Dark" />
								<MudText style="font-family: KCD;">
									@delta.ModId
								</MudText>
							</MudStack>
						</div>
						<div class="col-a">
							<MudText style="font-family: KCD;">
								@delta.ChangedSuperactions.Count
							</MudText>
						</div>
						<div class="col-b">
							<MudText style="font-family: KCD;">
								@delta.ChangedActionMaps.Count
							</MudText>
						</div>
					</div>
				}
			</div>

		</div>

	</div>

	<div style="height: 45%; align-content: center; display: flex; padding: 16px;">
		<div style="flex: 2; display: flex; flex-direction: column; gap: 8px; padding-left: 32px;">
			<MudToggleGroup T="KeyboardLayout"
							@bind-value="keyboardLayout"
							Outlined
							Delimiters>
				<MudToggleItem Value="@KeyboardLayout.QWERTY" />
				<MudToggleItem Value="@KeyboardLayout.QWERTZ" />
			</MudToggleGroup>
			<div>
				<MudTextField T="string"
							  Adornment="Adornment.End"
							  Value="@UserSettings.Current.GamePath"
							  AdornmentIcon="@Icons.Material.Filled.Folder"
							  OnAdornmentClick="PickGameFolder"
							  Label="Game Directory"
							  Variant="Variant.Outlined"
							  Margin="Margin.Dense" />
			</div>
			<div>
				<MudTextField T="string"
							  Adornment="Adornment.End"
							  Value="@UserSettings.Current.ModPath"
							  AdornmentIcon="@Icons.Material.Filled.Folder"
							  OnAdornmentClick="PickModFolder"
							  Label="Mod Directory"
							  Variant="Variant.Outlined"
							  Margin="Margin.Dense" />
			</div>
			<MudButton OnClick="LoadData"
					   Variant="Variant.Filled"
					   Color="Color.Primary">
				Load Keybind Data
			</MudButton>
			<MudButton OnClick="ApplyModChanges"
				Disabled="@(KeybindManager.DeltaViewModels is null || KeybindManager.DeltaViewModels.Count == 0 || selectedMods.Count == 0)"
					   Variant="Variant.Filled"
					   Color="Color.Primary">
				Merge Bindings
			</MudButton>
		</div>
		<div style="flex: 8;">
			<Keyboard ActiveKeyChanged="OnActiveKeyChanged"
					  Layout="keyboardLayout"
					  MergeStore="mergeStore" />
		</div>
	</div>
</div>

<style>
	.keybind-list {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: 100%;    
		border: 2px solid #b79b6c;
    border-radius: 6px;
		padding: 8px;
		color: black;
    background:
        url("_content/KCD2Keybinder.GUI.Shared/images/parchment.png");

    background-size: cover;
    background-position: center;
	}

	.keybind-header,
	.keybind-row {
		display: flex;
		padding: 4px 0;
		align-items: center;
	}

	.keybind-header {
		font-weight: bold;
	}

	.keybind-body {
		flex: 1;
		overflow-y: auto;
	}

	.col-name {
		flex: 2;
		text-align: start;
		padding-left: 8px;
	}

	.col-a,
	.col-b {
		flex: 1;
		text-align: center;
		padding-left: 8px;
	}
</style>